/* =====================================
   MODO ESCURO CUSTOM
===================================== */

[data-md-color-scheme="slate"]{
--md-default-bg-color:#121212;
--md-default-fg-color:#f5f5f5;

--md-primary-fg-color:#ff6d00;
--md-primary-fg-color--light:#ff9100;
--md-accent-fg-color:#ffd54f;

--md-code-bg-color:#1e1e1e;
}

[data-md-color-scheme="slate"] .md-typeset h1{
color:#ff6d00;
}

[data-md-color-scheme="slate"] .md-typeset h2{
color:#ff9100;
border-left:4px solid #ff6d00;
padding-left:12px;
margin-top:30px;
}

[data-md-color-scheme="slate"] .md-typeset h3{
color:#ffd54f;
}

[data-md-color-scheme="slate"] .md-typeset a{
color:#ffab40;
}

[data-md-color-scheme="slate"] .md-typeset a:hover{
color:#ffd180;
}

[data-md-color-scheme="slate"] .md-nav__link--active{
color:#ffb74d !important;
font-weight:700;
}

[data-md-color-scheme="slate"] img{
border-radius:14px;
box-shadow:0 8px 20px rgba(0,0,0,.35);
}


/* =====================================
   MODO CLARO CUSTOM
===================================== */

[data-md-color-scheme="default"]{
--md-primary-fg-color:#ff6d00;
--md-primary-fg-color--light:#ff9100;
--md-accent-fg-color:#ffd54f;
}

[data-md-color-scheme="default"] .md-typeset h1{
color:#e65100;
}

[data-md-color-scheme="default"] .md-typeset h2{
color:#ef6c00;
border-left:4px solid #fb8c00;
padding-left:12px;
margin-top:30px;
}

[data-md-color-scheme="default"] .md-typeset h3{
color:#ff8f00;
}

[data-md-color-scheme="default"] .md-typeset a{
color:#ef6c00;
}

[data-md-color-scheme="default"] .md-typeset a:hover{
color:#ff9800;
}

[data-md-color-scheme="default"] .highlight pre{
border-radius:14px;
box-shadow:0 4px 10px rgba(0,0,0,.10);
}

[data-md-color-scheme="default"] img{
border-radius:14px;
box-shadow:0 6px 12px rgba(0,0,0,.12);
margin-top:12px;
}

[data-md-color-scheme="default"] .md-nav__link--active{
color:#ef6c00 !important;
font-weight:700;
}


/* ======================
   ELEMENTOS GERAIS
====================== */

.md-typeset .admonition{
border-radius:14px;
}

.md-header{
box-shadow:0 4px 12px rgba(0,0,0,.20);
}

.md-typeset table{
border-radius:12px;
overflow:hidden;
}

.github-btn{
display:inline-block;
margin-top:15px;
padding:12px 22px;
background:linear-gradient(45deg,#ff6d00,#ff9100);
color:white !important;
text-decoration:none;
font-weight:700;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,.3);
transition:.3s;
}

.github-btn:hover{
transform:translateY(-2px);
box-shadow:0 6px 16px rgba(0,0,0,.4);
}