/* =========================
   IDENTIDADE VISUAL PDV DOCS
========================= */

/* Fundo geral */
body{
  background-color:#121212;
}

/* Títulos */
.md-typeset h1{
  color:#ff6d00;
  font-weight:700;
  text-shadow:0 0 8px rgba(255,109,0,.3);
}

.md-typeset h2{
  color:#ff9100;
  border-left:4px solid #ff6d00;
  padding-left:12px;
  margin-top:30px;
}

.md-typeset h3{
  color:#ffd54f;
}

/* Links */
.md-typeset a{
  color:#ffab40;
  transition:.3s;
}

.md-typeset a:hover{
  color:#ffd180;
}

/* Código */
.highlight pre{
  border-radius:14px;
  box-shadow:0 6px 16px rgba(0,0,0,.35);
}

/* Código inline */
code{
  border-radius:6px;
  padding:2px 6px;
}

/* Imagens */
img{
  border-radius:14px;
  box-shadow:0 8px 20px rgba(0,0,0,.35);
  margin-top:12px;
}

/* Cards de aviso */
.md-typeset .admonition{
  border-radius:14px;
}

/* Menu lateral */
.md-nav__link--active{
  color:#ffb74d !important;
  font-weight:700;
}

/* Barra superior */
.md-header{
  box-shadow:0 4px 12px rgba(0,0,0,.25);
}

/* Tabelas */
.md-typeset table{
  border-radius:12px;
  overflow:hidden;
}

/* Scroll suave */
html{
  scroll-behavior:smooth;
}