/* =====================================
[data-md-color-scheme="default"] .md-typeset h2{
color:#ef6c00;
border-left:4px solid #fb8c00;
padding-left:12px;
margin-top:30px;
}

[data-md-color-scheme="default"] .md-typeset h3{
color:#ff8f00;
}

[data-md-color-scheme="default"] .md-typeset a{
color:#ef6c00;
}

[data-md-color-scheme="default"] .md-typeset a:hover{
color:#ff9800;
}

[data-md-color-scheme="default"] .highlight pre{
border-radius:14px;
box-shadow:0 4px 10px rgba(0,0,0,.10);
}

[data-md-color-scheme="default"] img{
border-radius:14px;
box-shadow:0 6px 12px rgba(0,0,0,.12);
margin-top:12px;
}

[data-md-color-scheme="default"] .md-nav__link--active{
color:#ef6c00 !important;
font-weight:700;
}


/* ======================
   ELEMENTOS GERAIS
====================== */

.md-typeset .admonition{
border-radius:14px;
}

.md-header{
box-shadow:0 4px 12px rgba(0,0,0,.20);
}

.md-typeset table{
border-radius:12px;
overflow:hidden;
}

.github-btn{
display:inline-block;
margin-top:15px;
padding:12px 22px;
background:linear-gradient(45deg,#ff6d00,#ff9100);
color:white !important;
text-decoration:none;
font-weight:700;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,.3);
transition:.3s;
}

.github-btn:hover{
transform:translateY(-2px);
box-shadow:0 6px 16px rgba(0,0,0,.4);
}